---
const currentPath = Astro.url.pathname;
---

<nav class="py-4 border-b-gray-700 border-b">
  <ul class="container mx-auto flex flex-row gap-4 h-full">
    <li><a href="/">Steffen</a></li>
    <li class="flex-1">&nbsp;</li>
    <li class:list={[{ "text-gray-400": currentPath.includes('about') }]}>
      <a href='/about'>
        About
      </a>
    </li>
    <li class:list={[{ "text-gray-400": currentPath.includes('blog') }]}>
      <a href='/blog'>
        Blog
      </a>
    </li>
  </ul>
</nav>
